[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "==1.13.0+cu117", index = "downloadpytorch"}
torchvision = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
