[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
nose = "*"
keras = "*"
tensorflow = "*"
torchaudio = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.10.1"
